    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container1" style="margin: 0px 0px 0px 10px;">       
        <div class="row">
          <div class="col-xl-9 col-md">          
            
            <div class="icon-box">  
<!--Start Timer Warning nessage-->
              <div class="row" style="margin: 3px;">
                <div class="col-xl">                  
                  <div *ngIf="isWarning" class="warning-text">
                      {{warningMessage}} <label [ngClass]="{'timer-warning': isWarning}"> Time: {{displayTime}}</label>
                  </div>
                </div>
              </div>
<!--End Timer Warning nessage-->

<!--Start Question and Timer, report-->
              <div class="row" style="cursor: pointer; background-color: darkgray; padding: 1px;">
                <div class="col-md-8">
                    <label style="cursor: pointer;"> Question {{currentIndex + 1}}.</label>                    
                </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-4" style="cursor: pointer; background-color: aqua; display: flex; justify-content: flex-end;">
                        <label>Time: {{displayTime}} </label>
                    </div>
                    <div class="col-md-4" style="cursor: pointer; background-color: white; display: flex; justify-content: flex-end;">
                        <label>Marks: <span style="color: green;">+1</span>&nbsp;<span style="color: red;">-1</span></label>
                    </div>
                    <div class="col-md-4" style="cursor: pointer; background-color: red; display: flex; justify-content: flex-end;">
                        <div><i class="bi bi-book"></i>&nbsp;&nbsp;<span>Report</span></div>
                    </div>                    
                    </div>                  
                  </div>
              </div> 
<!--End Question and Timer, report-->

<!--Start Question and Answers-->
              <div *ngIf="questions.length"> 
                 <h5>
                  <!-- Q{{currentIndex + 1}}. -->
                  {{ questions[currentIndex].questionText }}
                </h5>
                 <div *ngFor="let opt of questions[currentIndex].options">
                  <label>
                    <!-- <input
                      type="radio"  [name]="'q'+questions[currentIndex].id" [value]="opt.optionId"
                      [(ngModel)]="answers[questions[currentIndex].id]"
                    > -->
                    <input
                          type="radio"
                          [name]="'q'+questions[currentIndex].id"
                          [value]="opt.optionId"
                          [(ngModel)]="answers[questions[currentIndex].id]"
                          (change)="selectOption(questions[currentIndex].id,opt.optionId)"
                          >
                     {{ opt.optionText }}
                  </label>
                </div>
<!--Start For Question and answer select or Submit & Next section-->
                <div class="row mt-3">
                  <div class="col" style="cursor: pointer; margin: 0px; padding: 0px;">                   
                     
                    <button (click)="previous()" [disabled]="currentIndex===0">Previous</button>
                  </div>                  
                  <div class="col" style="cursor: pointer; margin: 0px; padding: 0px;">                   
                      
                        <button (click)="clear()"> Clear Response</button>
                  </div>
                  <div class="col-lg" style="cursor: pointer; margin: 0px; padding: 0px;">                 
                                    
                      <button (click)="next()" [disabled]="currentIndex===questions.length-1">  Save & Next </button>
                   </div>
                </div>   
<!--Start For Question and answer select and Submit section-->           
              </div>   
<!--Start Question and Answers-->       
            </div>
          </div>
<!--Start Profile-->   
           <div class="col-xl" style="margin: 0px; padding: 0px;">
            <div class="icon-box">
                <div class="row">
              <div class="col text-center" >
                <div class="card p-2" id="profile" style="text-align: center;">
                  <img src="assets/onlinestudey/img/hero-img.png" class="profile-img"/>
                  <label>Rakesh Yadav</label>
                </div>               
              </div>
            </div>
<!--End user Profile-->  

 <!--Start For Line-->   
              <div class="row">
                <div class="col-xl-12">
                  <hr style="border: none; height: 1px; background-color: gray;">
                </div>
              </div> 
<!--End For Line-->   

<!--Start Question and answer marked Section-->            
              <div class="row" style="background-color: white;">
                <div class="col" style="margin: 1px;">
                  <label style="display: inline-block; background-color: blue; 
                    width: 25px; height: 20px; line-height: 20px; text-align: center; margin: 0px;
                    cursor: pointer; border: 1px solid #000; font-weight: bold; color: white;"> {{attempted-marked}} </label>
                    <label style="padding: 3px; display: inline-block; text-align: center; color: blue; font-size: 14px; font-style: normal;">Visited</label>
                </div>
                <div class="col" style="margin: 1px;">
                   <label style="display: inline-block; background-color: green; 
                    width: 25px; height: 20px; line-height: 20px; text-align: center; margin: 0px;
                    cursor: pointer; border: 1px solid #000; font-weight: bold; color: white;"> {{marked}} </label>
                    <label style="padding: 3px; display: inline-block; text-align: center; font-size: 14px; color: green; font-style: normal;">Total Answered</label>
                </div>
              </div>
              <div class="row" style="background-color: white;">
                <div class="col" style="margin: 1px;">
                 <label style="display: inline-block; background-color: white; 
                    width: 25px; height: 20px; line-height: 20px; text-align: center; margin: 0px;
                    cursor: pointer; border: 1px solid #000; font-weight: bold;color: black;"> {{notvisited-attempted}} </label>
                    <label style="padding: 3px; display: inline-block; text-align: center; font-size: 14px; font-style: normal;">Not Visited</label>
                </div>
                <div class="col" style="margin: 1px;">
                 <label style="display: inline-block; background-color: red; 
                    width: 25px; height: 20px; line-height: 20px; text-align: center; margin: 0px;
                    cursor: pointer; border: 1px solid #000; font-weight: bold; color: white;"> {{not_answared-marked}} </label>
                    <label style="padding: 3px; display: inline-block; text-align: center; color: red; font-size: 14px; font-style: normal;">Not Answered</label>
                </div>
              </div>
              <div class="row" style="background-color: antiquewhite;">
                 <div class="col" style="margin: 1px;">
                  <label style="display: inline-block; background-color: white; 
                    width: 25px; height: 20px; line-height: 20px; text-align: center; margin: 0px;
                    cursor: pointer; border: 1px solid #000; color:green; font-weight: bold;">&#10004;</label>                   
                      <label style="padding: 3px; display: inline-block; text-align: center; font-size: 14px; font-style: normal;">Marked & Answered</label>               
                  
                  </div>                  
              </div>   
<!--End Question and answer marked Section-->    

<!--Start For Line-->           
              <div class="row">
                <div class="col-xl-12">
                  <hr style="border: none; height: 1px; background-color: gray;">
                </div>
              </div>
<!--End For Line-->

<!--Start answer marked Section-->     
             <div class="row" >              
              <div class="col" *ngFor="let q of questions; let i = index">
                <label (click)="Questionnext(i)" 
                [ngStyle]="{
                        'background-color':
                        questionStatus[i] === 'answered' ? 'green' :
                        questionStatus[i] === 'attempted' ? 'blue' :
                        'white',
                        'color': questionStatus[i] ? 'white' : 'black'
                        }"
                    style="display: inline-block; 
                    background-color: white; 
                    width: 45px; 
                    height: 25px; 
                    line-height: 25px; 
                    text-align: center; 
                    margin: 0px;
                    cursor: pointer;
                    border: 1px solid #000;
                    font-weight: bold;">
                    {{i+1}}
                  </label>
               </div>                
             </div>
<!--Start answer marked Section--> 

<!--Start For Line-->  
              <div class="row">
                <div class="col-xl-12">
                  <hr style="border: none; height: 1px; background-color: gray;">
                </div>
              </div> 
<!--End For Line-->

<!--Submit Button For Test-->
               <div class="row mt-3" style="cursor: pointer; margin: 0px; padding: 0px;">
                  <div class="col">  
                      <button (click)="submit()">Submit Test</button>                  
                  </div>
                </div>
<!--submit Button For Test-->

<!--Start For Line-->
                <div class="row">
                  <div class="col-xl-12">
                    <hr style="border: none; height: 1px; background-color: gray;">
                  </div>
                </div> 
<!--End For Line-->

<!--Start For Test Insturcations-->   
                 <div class="row">
                  <div class="col-xl-12">  
                      <button id="Instraction">Test Insturcations</button>                  
                  </div>
                </div>
<!--Start For Test Insturcations-->   
            </div>           
          </div>                
        </div>
      </div>
    </section>
    <!-- End Services Section -->