################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TicketManagement/FileContentIndex
/.vs/TicketManagement/DesignTimeBuild
