 <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>All Tests Lists</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        
        <div class="row" >             
          <div *ngFor="let opt of chapters" class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>             
                  <h4>
                    <a [routerLink]="['/question']" [queryParams]="{ chapterId: opt.chapterGuid }">
                        {{opt.chapterName}}
                    </a>   
                    </h4>     
               </div>
          </div>        
        </div>
      </div>
    </section>
    <!-- End Services Section -->
