<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/10cd78f5-c53f-4579-bc74-9a878c2dc78d/resourceGroups/VisualStudioOnline-BFF3B3B9F10641DD94660DA28868F929/providers/Microsoft.Web/sites/onlineeducationapp-api-pk</ResourceId>
    <ResourceGroup>VisualStudioOnline-BFF3B3B9F10641DD94660DA28868F929</ResourceGroup>
    <ApiResourceId>/subscriptions/10cd78f5-c53f-4579-bc74-9a878c2dc78d/resourceGroups/VisualStudioOnline-BFF3B3B9F10641DD94660DA28868F929/providers/Microsoft.ApiManagement/service/TicketManagementServerapi/apis/TicketManagementServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlineeducationapp-api-pk-gxdahjc0h8g2gwhc.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0128dff0-ebbf-4e61-b428-0f4156e456c2</ProjectGuid>
    <MSDeployServiceURL>onlineeducationapp-api-pk-gxdahjc0h8g2gwhc.scm.westus3-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>onlineeducationapp-api-pk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>